/* HERO IMAGE SECTION */

.exploreimg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 120px 40px;
}

.explore-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/*dark overlay*/
.exploreimg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(230, 229, 228, 0.45);
  z-index: 2;
}


.explore-card {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 380px;
  background: A89191;
  border-radius: 10px;
  padding: 18px 18px 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.explore-card:hover {
  transform: translateY(-10px);
}


.image-box {
  width: 100%;
  height: 420px;
  overflow: hidden;
  border-radius: 8px;
  background: A89191;
  padding: 10px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.explore-card:hover img {
  transform: scale(1.08);
}

/* TEXT */

.explore-card h3 {
  margin-top: 20px;
  font-size: 28px;
  color: #5f3a91;
  font-weight: 800;
}

.card-text {
  margin-top: 14px;
  line-height: 1.7;
  font-size: 15px;
  color: #222;
}

/* =========================
   TABLET
========================= */

@media (max-width: 900px) {

  .exploreimg {
    gap: 25px;
    padding: 100px 20px;
  }

  .explore-card {
    max-width: 320px;
  }

  .image-box {
    height: 340px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 700px) {

  .exploreimg {
    flex-direction: column;

    padding: 80px 15px;
  }

  .explore-card {
    max-width: 100%;
  }

  .image-box {
    height: 300px;
  }

  .explore-card h3 {
    font-size: 24px;
  }

  .card-text {
    font-size: 14px;
  }
}

/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 480px) {

  .exploreimg {
    min-height: auto;
    padding: 60px 10px;
  }

  .image-box {
    height: 240px;
  }

  .explore-card {
    padding: 14px;
  }
}